<div style="padding: 20px;" class="table">
  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="'auto'" [limit]="10" [selected]="selected" (select)="selectItem($event)" [selectionType]="'single'">

    <ngx-datatable-column name="ID">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Price">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Description">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value.substr(0, 30)}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Hits">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="On Sale">
      <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        <input type="checkbox" [checked]="value" (change)="onSale(row)" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Color">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Theme">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div>{{value.name}}</div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div fxLayout="row" *ngIf="selected.length != 0" style="padding: 20px;">
  <div fxFlex="100%">
    <form class="form" fxLayout="row">what is .subs
      <div fxFlex="40%">
        <div class="form-group">
          <select class="custom-select" required [(ngModel)]="item.themeId" name="theme">
            <option value="">Select Theme</option>
            <option [value]="x.id" *ngFor="let x of themeList">{{x.name}}</option>
          </select>
        </div>
        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="item.name">
        <input type="number" class="form-control" placeholder="Price" name="price" [(ngModel)]="item.price">
        <input type="number" class="form-control" placeholder="Sale Price" name="sprice" [(ngModel)]="item.salePrice">
        <input type="text" class="form-control" placeholder="Color" name="color" [(ngModel)]="item.color">
      </div>
      <div class="form-group " style="margin-left: 20px" fxFlex="100%">
        <label class="white-color">Item Description</label>
        <textarea class="form-control" rows="5" name="desc" [(ngModel)]="item.description"></textarea>
        <button class="btn btn-dark" (click)="editItem()" *ngIf="selected.length != 0" style="margin:5px;float: right;">Edit Item &nbsp;<i class="fa fa-edit"></i></button>
        <button class="btn btn-dark" (click)="deleteItem()" *ngIf="selected.length != 0" style="margin:5px;float: right;">Delete Item &nbsp;<i class="fa fa-trash"></i></button>
      </div>
    </form>
  </div>
</div>