<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box bg-info-gradient">
        <span class="info-box-icon"><i class="fa fa-dollar-sign"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Sales</span>
          <span class="info-box-number">$ {{sales_weekly}}</span>

          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">
            Total Sales : $ {{totalSales}}
          </span>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box bg-dark-gradient">
        <span class="info-box-icon"><i class="fa fa-shopping-cart"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Orders</span>
          <span class="info-box-number">{{incompleteOrders}}</span>

          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">
            Total Orders: {{totalOrders}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box bg-info-gradient">
        <span class="info-box-icon"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Customers</span>
          <span class="info-box-number">{{customers}}</span>

          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">
            70% Increase in 30 Days
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box bg-dark-gradient">
        <span class="info-box-icon"><i class="fa fa-box"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Sold Items</span>
          <span class="info-box-number">{{items_weekly}}</span>

          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">
            Total Sold Items: {{total_sold_items}}
          </span>
        </div>
      </div>
    </div>
  </div>