<!-- AREA CHART -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Area Chart</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="card-body">
    <div class="chart">
      <canvas id="areaChart" style="height:250px"></canvas>
    </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->