<app-navbar></app-navbar>
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <app-data-box></app-data-box>
            <div class="row">
                <div class="col-lg-6">
                    <app-weekly-sales></app-weekly-sales>
                </div>
                <div class="col-lg-6">
                    <app-orders-chart></app-orders-chart>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-6">
                        <app-add-item></app-add-item>
                    </div>
                    <div class="col-lg-6">
                        <app-sales-chart></app-sales-chart>
                    </div>
                </div>
        </div>
    </section>
</div>